.vs/
obj/
Temp/
Library/
UnityVS/
UnityVS.*
*.unitypackage
*.sln
*.csproj
*.userprefs
*.so
*.a
*.suprx
*.dll
*.bundle/
*.prx
*.bak.meta
Assets/StreamingAssets/settings.txt
*.cache
*.pdb
*.user
*.csproj.CopyComplete
*.csproj.FileListAbsolute.txt


